@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-extrabold {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
.inter-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.inter-semibold {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.inter-medium {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.inter-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.inter-thin {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}



h1 {
    font-size: 78px;
    line-height: 80px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}

h2 {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}
h4 {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}
p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}

@media only screen
and (max-width: 768px) {
    h2 {
        font-size: 42px;
        line-height: 56px;
    }
}

@media only screen
and (max-width: 580px) {
    h2 {
        font-size: 28px;
        line-height: 42px;
    }
}